export(
mpANISOSTATIS.core,
mpANISOSTATIS,
mpCANOSTATIS.core,
mpCANOSTATIS,
mpCOVSTATIS.core,
mpCOVSTATIS,
mpDISTATIS.core, 
mpDISTATIS, 
mpDOACT.STATIS.core,
mpDOACT.STATIS,
mpGraphs,
mpKPlus1STATIS.core,
mpKPlus1STATIS,
mpMahalanobis,
mpMFA, 
mpMultitable,
mpPTA.core,
mpPTA,
mpSTATIS.columnPreproc, 
mpSTATIS.core, 
mpSTATIS.optimize, 
mpSTATIS.preprocess, 
mpSTATIS, 
mpSTATIS.rowPreproc, 
mpSTATIS.tablePreproc,
mpSumPCA,
print.covstatis.compromise,
print.covstatis.innerproduct,
print.covstatis.overview,
print.covstatis.table,
print.distatis.compromise,
print.distatis.innerproduct, 
print.distatis.overview, 
print.distatis.table, 
print.doact.statis.compromise,
print.doact.statis.innerproduct,
print.doact.statis.table,
print.KPlus1.statis.compromise,
print.KPlus1.statis.innerproduct,
print.KPlus1.statis.overview,
print.KPlus1.statis.table,
print.mexPosition.Output,
print.mpANISOSTATIS,
print.mpCOVSTATIS,
print.mpDISTATIS,
print.mpDOACT.STATIS,
print.mpGraphs, 
print.mpKPlus1STATIS,
print.mpSTATIS, 
mpTableCheck, 
print.statis.innerproduct, 
print.statis.overview, 
print.statis.table,
print.statis.compromise)
