export(minmaxHelper,contributionBars,correlationPlotter,prettyPlot,peeledHull,repmat,createColorVectorsByDesign,prettyGraphsColors,prettyBars,prettyGraphsColorSelection,prettyGraphsHSVColorSelection,prettyScree)
