export(corePCA,epGPCA,epPCA,epMDS,coreCA,epCA,epMCA,epGraphs,makeNominalData,mca.eigen.fix,pause,designCheck,createDefaultDesign,computeMW,print.epCA,print.epGPCA,print.epGraphs,print.epMCA,print.epMDS,print.epPCA,print.epSVD,print.expoOutput,calculateConstraints,supplementaryRows,supplementaryCols,supplementalProjection,pcaSupplementaryColsPreProcessing,pcaSupplementaryRowsPreProcessing,mdsSupplementalElementsPreProcessing,mdsTransform,nominalCheck,caSupplementalElementsPreProcessing,chi2Dist,expo.scale,rvCoeff,acknowledgements,makeRowProfiles,pickSVD,genPDQ,rowNorms,hellingerNorm,caNorm,coreMDS)

importFrom("prettyGraphs", "prettyPlot", "contributionBars", "createColorVectorsByDesign", "minmaxHelper")
importFrom("stats", "cor", "dist", "sd")

S3method(print, epCA)
S3method(print, epGPCA)
S3method(print, epGraphs)
S3method(print, epMCA)
S3method(print, epMDS)
S3method(print, epPCA)
S3method(print, epSVD)
S3method(print, expoOutput)