export(fastEucCalc,fii2fi,print.tepAssign,print.tepBADA,print.tepDICA,print.tepGraphs,print.texpoOutput,print.tepGPLS, print.tepPLS, print.tepPLSCA,R2,tepBADA,tepDICA,tepGraphs,texpoDesignCheck,calculateLVConstraints,tepPLS,tepGPLS,tepPLSCA)