exportPattern("^[^\\.]")

S3method(print, epCA.inference.battery)
S3method(print, epGPCA.inference.battery)
S3method(print, epMCA.inference.battery)
S3method(print, epPCA.inference.battery)
S3method(print, inpoBoot)
S3method(print, inpoBootTests)
S3method(print, inpoComponents)
S3method(print, inpoOmni)
S3method(print, inpoOutput)

importFrom("stats", "pchisq", "pnorm")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom(prettyGraphs, createColorVectorsByDesign, prettyBars,
           prettyPlot) 
importFrom(ExPosition, calculateConstraints, epCA, epGPCA, epMCA,
           epPCA, makeNominalData, supplementaryCols)